{% extends "base.html" %}
{% block content %}
{%load static %}
  <div class="vg-main-wrapper">
    <div class="vg-page page-home" id="home" style="background-image: url({% static "assets/img/bg_image_2.jpg" %});opacity: inherit">
      <div class="caption wow zoomInUp">
        <h1 style="color: red" class="fw-normal"><b>ProWork saytiga </b></h1>
          <h2 class="fw-medium fg-theme">Xush kelibsiz!</h2>

        <p class="tagline">Kitoblar/Darsliklar/Slaydlar/Refaratlar</p>
      </div>
    </div>
    <!-- Page About -->


    <!-- Page Service -->
    <div class="vg-page page-service" id="services">
      <h1 class="text-center wow fadeInUp">Services</h1>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4 wow fadeInUp">
            <div class="card card-body">
              <div class="iconic">
                <span class="ti-layout"></span>
              </div>
              <h4 class="fg-theme">Web Design</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
              <a href="#" class="btn btn-theme btn-rounded">Read More</a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow fadeInUp">
            <div class="card card-body">
              <div class="iconic">
                <span class="ti-announcement"></span>
              </div>
              <h4 class="fg-theme">SEO</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
              <a href="#" class="btn btn-theme btn-rounded">Read More</a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow fadeInUp">
            <div class="card card-body">
              <div class="iconic">
                <span class="ti-desktop"></span>
              </div>
              <h4 class="fg-theme">Web Development</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
              <a href="#" class="btn btn-theme btn-rounded">Read More</a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow fadeInUp">
            <div class="card card-body">
              <div class="iconic">
                <span class="ti-layout"></span>
              </div>
              <h4 class="fg-theme">Web Design</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
              <a href="#" class="btn btn-theme btn-rounded">Read More</a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow fadeInUp">
            <div class="card card-body">
              <div class="iconic">
                <span class="ti-announcement"></span>
              </div>
              <h4 class="fg-theme">SEO</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
              <a href="#" class="btn btn-theme btn-rounded">Read More</a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow fadeInUp">
            <div class="card card-body">
              <div class="iconic">
                <span class="ti-desktop"></span>
              </div>
              <h4 class="fg-theme">Web Development</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
              <a href="#" class="btn btn-theme btn-rounded">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- End page services -->

    <!-- Testimonials -->
    <div class="vg-page p-0" id="testimonial">
      <div class="owl-carousel testi-carousel" style="background-image:url({% static "assets/img/bg_image_2.jpg" %})">
        <div class="item">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus, dicta atque. Voluptas illum quasi asperiores autem unde cupiditate temporibus quisquam iste rem dignissimos. Commodi placeat, quis omnis inventore asperiores sit.</p>
          <span class="iconic">
            <span class="ti-quote-left"></span>
          </span>
          <h4>Andrew Johanson</h4>
        </div>
        <div class="item">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus, dicta atque. Voluptas illum quasi asperiores autem unde cupiditate temporibus quisquam iste rem dignissimos. Commodi placeat, quis omnis inventore asperiores sit.</p>
          <span class="iconic">
            <span class="ti-quote-left"></span>
          </span>
          <h4>Louis Herreira</h4>
        </div>
        <div class="item">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus, dicta atque. Voluptas illum quasi asperiores autem unde cupiditate temporibus quisquam iste rem dignissimos. Commodi placeat, quis omnis inventore asperiores sit.</p>
          <span class="iconic">
            <span class="ti-quote-left"></span>
          </span>
          <h4>Patrice Clark</h4>
        </div>
      </div>
    </div> <!-- End testimonial -->

    <!-- Portfolio page -->
    <div class="vg-page page-portfolio" id="portfolio">
      <div class="container">
        <div class="text-center wow fadeInUp">
          <div class="badge badge-subhead">Portfolio</div>
        </div>
        <h1 class="text-center fw-normal wow fadeInUp">See my work</h1>
        <div class="filterable-button py-3 wow fadeInUp" data-toggle="selected">
          <button class="btn btn-theme-outline selected" data-filter="*">All</button>
          <button class="btn btn-theme-outline" data-filter=".apps">Apps</button>
          <button class="btn btn-theme-outline" data-filter=".template">Template</button>
          <button class="btn btn-theme-outline" data-filter=".ios">IOS</button>
          <button class="btn btn-theme-outline" data-filter=".ui-ux">UI/UX</button>
          <button class="btn btn-theme-outline" data-filter=".graphic">Graphic</button>
          <button class="btn btn-theme-outline" data-filter=".wireframes">Wireframes</button>
        </div>

        <div class="gridder my-3">
          <div class="grid-item apps wow zoomIn">
            <div class="img-place" data-src="{% static  "assets/img/work/work-1.jpg" %}" data-fancybox data-caption="<h5 class='fg-theme'>Mobile Travel App</h5> <p>Travel, Discovery</p>">
              <img src="{% static  "assets/img/work/work-1.jpg" %}" alt="">
              <div class="img-caption">
                <h5 class="fg-theme">Mobile Travel App</h5>
                <p>Travel, Discovery</p>
              </div>
            </div>
          </div>
          <div class="grid-item template wireframes wow zoomIn">
            <div class="img-place" data-src="{% static "assets/img/work/work-2.jpg"  %}" data-fancybox data-caption="<h5 class='fg-theme'>Music App</h5> <p>Musics</p>">
              <img src="{% static "assets/img/work/work-2.jpg"  %}" alt="">
              <div class="img-caption">
                <h5 class="fg-theme">Music App</h5>
                <p>Musics</p>
              </div>
            </div>
          </div>
          <div class="grid-item apps ios wow zoomIn">
            <div class="img-place" data-src="{% static "assets/img/work/work-3.jpg"  %}" data-fancybox data-caption="<h5 class='fg-theme'>Gaming Dashboard</h5> <p>Games, Streaming</p>">
              <img src="{% static "assets/img/work/work-3.jpg"  %}" alt="">
              <div class="img-caption">
                <h5 class="fg-theme">Gaming Dashboard</h5>
                <p>Games, Streaming</p>
              </div>
            </div>
          </div>
          <div class="grid-item graphic ui-ux wow zoomIn">
            <div class="img-place" data-src="{% static "assets/img/work/work-4.jpg" %}" data-fancybox data-caption="<h5 class='fg-theme'>Drugs Delivery App</h5> <p>Health, Drugs</p>">
              <img src="{% static "assets/img/work/work-4.jpg" %}" alt="">
              <div class="img-caption">
                <h5 class="fg-theme">Drugs Delivery App</h5>
                <p>Health, Drugs</p>
              </div>
            </div>
          </div>
          <div class="grid-item apps ios wow zoomIn">
            <div class="img-place" data-src="{% static "assets/img/work/work-5.jpg" %}" data-fancybox data-caption="<h5 class='fg-theme'>Musics Discover</h5> <p>Musics, Dashboard</p>">
              <img src="{% static "assets/img/work/work-5.jpg" %}" alt="">
              <div class="img-caption">
                <h5 class="fg-theme">Musics Discover</h5>
                <p>Musics, Dashboard</p>
              </div>
            </div>
          </div>
          <div class="grid-item graphic ui-ux wireframes wow zoomIn">
            <div class="img-place" data-src="{% static "assets/img/work/work-6.jpg" %}" data-fancybox data-caption="<h5 class='fg-theme'>Game Streaming</h5> <p>Games, Streaming</p>">
              <img src="{% static "assets/img/work/work-6.jpg" %}" alt="">
              <div class="img-caption">
                <h5 class="fg-theme">Game Streaming</h5>
                <p>Games, Streaming</p>
              </div>
            </div>
          </div>
        </div> <!-- End gridder -->
        <div class="text-center wow fadeInUp">
          <a href="javascript:void(0)" class="btn btn-theme">Load More</a>
        </div>
      </div>
    </div> <!-- End Portfolio page -->


{% endblock %}