{% extends "base.html" %}
{% block content %}
{%load static %}
  <div class="vg-main-wrapper">
    <div class="vg-page page-home" id="home" style="background-image: url({% static "assets/img/bg_image_2.jpg" %});opacity: inherit">
      <div class="caption wow zoomInUp">
        <h1 style="color: red" class="fw-normal"><b>ProWork saytiga </b></h1>
          <h2 class="fw-medium fg-theme">Xush kelibsiz!</h2>

        <p class="tagline">Kitoblar/Darsliklar/Slaydlar/Refaratlar</p>
      </div>
    </div>
    <!-- Page About -->


    <!-- Page Service -->
    <div class="vg-page page-service" id="services">
      <h1 class="text-center wow fadeInUp">Services</h1>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4 wow fadeInUp">
            <div class="card card-body">
              <div class="iconic">
                <span class="ti-layout"></span>
              </div>
              <h4 class="fg-theme">Web Design</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
              <a href="#" class="btn btn-theme btn-rounded">Read More</a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow fadeInUp">
            <div class="card card-body">
              <div class="iconic">
                <span class="ti-announcement"></span>
              </div>
              <h4 class="fg-theme">SEO</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
              <a href="#" class="btn btn-theme btn-rounded">Read More</a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow fadeInUp">
            <div class="card card-body">
              <div class="iconic">
                <span class="ti-desktop"></span>
              </div>
              <h4 class="fg-theme">Web Development</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
              <a href="#" class="btn btn-theme btn-rounded">Read More</a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow fadeInUp">
            <div class="card card-body">
              <div class="iconic">
                <span class="ti-layout"></span>
              </div>
              <h4 class="fg-theme">Web Design</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
              <a href="#" class="btn btn-theme btn-rounded">Read More</a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow fadeInUp">
            <div class="card card-body">
              <div class="iconic">
                <span class="ti-announcement"></span>
              </div>
              <h4 class="fg-theme">SEO</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
              <a href="#" class="btn btn-theme btn-rounded">Read More</a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow fadeInUp">
            <div class="card card-body">
              <div class="iconic">
                <span class="ti-desktop"></span>
              </div>
              <h4 class="fg-theme">Web Development</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
              <a href="#" class="btn btn-theme btn-rounded">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- End page services -->

    <!-- Testimonials -->
    <div class="vg-page p-0" id="testimonial">
      <div class="owl-carousel testi-carousel" style="background-image:url({% static "assets/img/bg_image_2.jpg" %})">
        <div class="item">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus, dicta atque. Voluptas illum quasi asperiores autem unde cupiditate temporibus quisquam iste rem dignissimos. Commodi placeat, quis omnis inventore asperiores sit.</p>
          <span class="iconic">
            <span class="ti-quote-left"></span>
          </span>
          <h4>Andrew Johanson</h4>
        </div>
        <div class="item">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus, dicta atque. Voluptas illum quasi asperiores autem unde cupiditate temporibus quisquam iste rem dignissimos. Commodi placeat, quis omnis inventore asperiores sit.</p>
          <span class="iconic">
            <span class="ti-quote-left"></span>
          </span>
          <h4>Louis Herreira</h4>
        </div>
        <div class="item">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus, dicta atque. Voluptas illum quasi asperiores autem unde cupiditate temporibus quisquam iste rem dignissimos. Commodi placeat, quis omnis inventore asperiores sit.</p>
          <span class="iconic">
            <span class="ti-quote-left"></span>
          </span>
          <h4>Patrice Clark</h4>
        </div>
      </div>
    </div> <!-- End testimonial -->

    <!-- Portfolio page -->
    <div class="vg-page page-portfolio" id="portfolio">
      <div class="container">

        <h1 class="text-center fw-normal wow fadeInUp">Kitoblar</h1>
{% if user.is_authenticated %}
  <div class="gridder my-3">


        {% for book in books %}

          <div class="grid-item apps wow zoomIn">
            <div class="img-place" data-src="{{ book.img.url }}" data-fancybox data-caption="<h5 class='fg-theme'>{{ book.title }}</h5> <p>{{ book.type }}</p>">
              <img src="{{book.img.url}}" alt="">
              <div class="img-caption">
                <h5 class="fg-theme">{{ book}}</h5>
                <p>{{ book.type }}</p>
              </div>
            </div>
          <b><a href="{{ book.file.url }}"  download="{{ book.file.url }}">Download</a></b>
          </div>

            {% endfor %}
        </div> <!-- End gridder -->
{% else %}
  <div class="gridder my-3">


        {% for book in books %}

          <div class="grid-item apps wow zoomIn">
            <div class="img-place" data-src="{{ book.img.url }}" data-fancybox data-caption="<h5 class='fg-theme'>{{ book.title }}</h5> <p>{{ book.type }}</p>">
              <img src="{{book.img.url}}" alt="">
              <div class="img-caption">
                <h5 class="fg-theme">{{ book}}</h5>
                <p>{{ book.type }}</p>
              </div>
            </div>

          </div>

            {% endfor %}
        </div> <!-- End gridder -->
{% endif %}

        <div class="text-center wow fadeInUp">
          <a href="{% url "book" %}" class="btn btn-theme">Load More</a>
        </div>
      </div>
    </div> <!-- End Portfolio page -->
  </div>

        {% endblock %}