{% extends "base.html" %}
{% block content %}
{%load static %}
  <div class="vg-main-wrapper">
    <div class="vg-page page-home" id="home" style="background-image: url({% static "assets/img/bg_image_2.jpg" %});opacity: inherit">
      <div class="caption wow zoomInUp">
        <h2 style="color: red" class="fw-normal"><b>FileStore saytiga </b></h2>
          <h2 class="fw-medium fg-theme">Xush kelibsiz!</h2>

        <p class="tagline">Kitoblar/Slaydlar/Refaratlar</p>

      </div>
    </div>
    <!-- Page About -->


    <!-- Page Service -->
    <div class="vg-page page-service" id="services">
      <h1 class="text-center wow fadeInUp">Services</h1>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4 wow fadeInUp">
            <div class="card card-body">
              <div class="iconic">
                <span class="ti-layout"></span>
              </div>
              <h4 class="fg-theme">Web Dasturchilar uchun</h4>
              <p>Web dasturlash kurslari,foydali qo'llanmalar va real proyektlar ,ularning tuzilmalari</p>
              <a href="#" class="btn btn-theme btn-rounded">Read More</a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow fadeInUp">
            <div class="card card-body">
              <div class="iconic">
                <span class="ti-announcement"></span>
              </div>
              <h4 class="fg-theme">Kitoblar</h4>
              <p>Elektron kitoblar,rus,ingliz va o'zbek tilida</p>
              <a href="{% url "book" %}" class="btn btn-theme btn-rounded">Read More</a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow fadeInUp">
            <div class="card card-body">
              <div class="iconic">
                <span class="ti-desktop"></span>
              </div>
              <h4 class="fg-theme">Fayllar</h4>
              <p>o'zingizga kerakli bo'lgan xujjatlar,slaydlar,referatlar,kitob va darslilar elektron xujjatlar,PDF va barcha turdagi fayllar katalogi</p>
              <a href="{% url "workpage" %}" class="btn btn-theme btn-rounded">Read More</a>
            </div>
          </div>

        </div>
      </div>
    </div> <!-- End page services -->

    <!-- Testimonials -->
    <div class="vg-page p-0" id="testimonial">
      <div class="owl-carousel testi-carousel" style="background-image:url({% static "assets/img/bg_image_2.jpg" %})">
        <div class="item">
            <p>Saytda ro'yxattan o'ting va fayllarni yuklab oling.Saytda barcha turdagi elektron xujjatlarni osongina topishingiz mumkin</p>
          <span class="iconic"> <img src="{% static "assets/favico.jpg" %}" alt=""></span>

          <h4>File Store</h4>
        </div>


      </div>
    </div> <!-- End testimonial -->

    <!-- Portfolio page -->
    <div class="vg-page page-portfolio" id="portfolio">
      <div class="container">

        <h1 class="text-center fw-normal wow fadeInUp">Kitoblar</h1>
{% if user.is_authenticated %}
  <div class="gridder my-3">


        {% for book in books %}

          <div class="grid-item apps wow zoomIn">
            <div class="img-place" data-src="{{ book.img.url }}" data-fancybox data-caption="<h5 class='fg-theme'>{{ book.title }}</h5> <p>{{ book.type }}</p>">
              <img src="{{book.img.url}}" alt="">
              <div class="img-caption">
                <h5 class="fg-theme">{{ book}}</h5>
                <p>{{ book.type }}</p>
              </div>
            </div>
          <b><a href="{{ book.file.url }}"  download="{{ book.file.url }}">Download</a></b>
          </div>

            {% endfor %}
        </div> <!-- End gridder -->
{% else %}
  <div class="gridder my-3">


        {% for book in books %}

          <div class="grid-item apps wow zoomIn">
            <div class="img-place" data-src="{{ book.img.url }}" data-fancybox data-caption="<h5 class='fg-theme'>{{ book.title }}</h5> <p>{{ book.type }}</p>">
              <img src="{{book.img.url}}" alt="">
              <div class="img-caption">
                <h5 class="fg-theme">{{ book}}</h5>
                <p>{{ book.type }}</p>
              </div>
            </div>

          </div>

            {% endfor %}
        </div> <!-- End gridder -->
{% endif %}

        <div class="text-center wow fadeInUp">
          <a href="{% url "book" %}" class="btn btn-theme">Load More</a>
        </div>
      </div>
    </div> <!-- End Portfolio page -->
  </div>

        {% endblock %}