{% extends "base.html" %}

{% block content %}
{% load static %}

  <div class="vg-main-wrapper">
    <div class="vg-page page-blog">
      <div class="container">
        <div class="row widget-grid">
          <div class="col-lg-8">
            <div class="input-group py-2">
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="d-flex py-2 mx-n2">
              <div class="input-group px-2">

              </div>
              <div class="input-group px-2">
                <select class="vg-select">
                  <option value="">Sort</option>
                    {% for sort in  sorts  %}
                  <option value="cat-1">{{ sort.sort }}</option>
                    {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="">
  <div class="gridder my-3">
            {% for work in works %}
          <div class="grid-item apps wow zoomIn">
            <div class="img-place" data-src="{{work.img.url}}" data-fancybox data-caption="<h5 class='fg-theme'></h5> <p>{{ work.title }}</p>">
              <img src="{{work.img.url}}" alt="">
              <div class="img-caption">
                <h5 class="fg-theme">{{ work.title |slice:"20" }}</h5>


              </div>
            </div>
          <b><a href="{{ work.file.url }}" download="{{ work.file.url }}">Download</a></b>
          </div>
                {% endfor %}
        </div> <!-- End gridder -->
          <div class="col-12 py-3">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a href="" class="page-link">Prev</a>
              </li>
              <li class="page-item active">
                <a href="" class="page-link">1</a>
              </li>
              <li class="page-item">
                <a href="" class="page-link">2</a>
              </li>
              <li class="page-item">
                <a href="" class="page-link">3</a>
              </li>
              <li class="page-item">
                <a href="" class="page-link">Next</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

 {% endblock %}